.App-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C4A52;
}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #537072;
}
.tasks{
    text-align: center;
    display: grid;
    justify-content: center;
    background-color: #537072;
    justify-items: center;
}
.taskBox{
<<<<<<< HEAD
    width: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
=======
    width: 200px;
    height: 50px;
>>>>>>> parent of a8296a4 (delete butt and styles)
    border: 1px solid #2C4A52;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 7px 14px #2C4A52;
    transition: .1s linear;
    background-color: #F4EBDB;
}
.taskBox:hover{

    box-shadow: 0 10px 20px #3b3554,  -201px 51px 50px 0  #8E9B97 inset;
}