@font-face {
    font-family: 'SFNS';
    src: url('./fonts/sfns_display_bold.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/sfns_display_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/sfns_display_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/sfns_display_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/sfns_display_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/sfns_display_bold.svg#sfns_display_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
body{
    font-family: 'SFNS';
    background-color: #537072;
}
h1{
    color: #F4EBDB;
}
.App-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C4A52;
}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #537072;
    margin: 15px 15px;
}
.tasks{
    text-align: center;
    display: grid;
    justify-content: center;
    background-color: #537072;
    justify-items: center;
}
.taskBox{
    width: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 1px solid #2C4A52;
    margin: 10px;
    transition: .1s cubic-bezier(0.39, 1.16, 0.76, 0.26);
    background-color: #F4EBDB;
    font-size: 20px;
    font-weight: bolder;
}
.taskBox:hover{

    box-shadow: 0 10px 20px #2C4A52, 300px 0 80px 0  #8E9B97 inset;
}

.input-area{
    font-family:'SFNS';
    background-color: #F4EBDB;
    height: 40px;
    width: 300px;
    margin: 0 15px;
    border: 0 solid #8E9B97;
    outline: none;
    font-size: 25px;
}
.input-area:focus{
    border: 0 solid #8E9B97;
}
.addButton {
    background-color: #2C4A52;
    width: 90px;
    height: 40px;
    border: 1px solid #8E9B97;
    font-weight: bold;
    color: #F4EBDB;
    transition: .1s cubic-bezier(0.39, 1.16, 0.76, 0.26);
}
.addButton:hover{
    background-color: #1d3b3d;
    color: #F4EBDB;
    box-shadow: 0 10px 20px #2C4A52,  201px -51px 50px 0  #1d3b3d inset;
}
